

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  background-color: #ffcc00;
  font-family: 'Zilla Slab', serif;
}
.header {
}
.footer {
  color: #231900;
}
.projects {
  color: #231900;
}

h1, h2, h3 {
	color: #231900;
	font-family: 'Open Sans';
	font-size: 94px;
	font-weight: 600;
	letter-spacing: -2px;
	line-height: 84px;
	margin-bottom: 72px;
	text-transform: uppercase;
}

.main h2 {
  color: white;
}
p, a {
  color: #231900;
	font-family: 'Crimson Text';
	font-size: 34px;
	font-weight: 500;
	line-height: 48px;
	margin-bottom: 48px;
	max-width: 650px;
}
a:link, a:visited,  a:active {
  color: #231900;
  font-family: 'Open Sans';
}


.headerLogos {
  margin-top: 4vw;
  height: 32px;
  width: 32px;
  float: right;
  margin-right: 15px;
  margin-bottom: 15px;
}

.main {
  background-image:url('../img/code.jpg');
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  padding-bottom: 15rem;
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.mePage {
  width: 100%;
  height: auto;
}
.projectImage {
  width: 100%;
  height: auto;
}
