body {
  font-family: helvetica;
}
/** Styling for nav bar **/
nav {
  background-color: #888;
}
nav ul {
  margin: 0;
}
nav li {
  list-style: none;
  display: inline-block;
  background-color: #888;
  padding-left: 10px;
  padding-right: 10px;
}
nav a {
  text-decoration: none;
  color: white;
}
nav a:hover,
nav a:active,
nav a:focus {
  text-decoration: underline;
}
h1 {
  color: red;
  text-decoration: underline;
}
# Styling for questions and answers
.question_and_answers {
  margin: none;
}
.question_and_answers li {
  list-style: none;
}
.question {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #4e4cba;
  padding: 5px;
  margin-top: 5px;
}
.answer {
  background-color: #888;
  padding: 5px;
}
