* {
  margin: 0;
  padding: 0;
}
body {
  font-family: helvetica;
  background-color: #ddd;
}
/** Styling for nav bar **/
nav {
  background-color: #ddd;
  padding: 0px;
  margin-top: 10px
}
nav ul {
  padding: 0 10px 0 10px;
}
nav li {
  list-style: none;
  display: inline-block;
  background-color: #aaa;
  padding: 10px;
  border-radius: 5px;
}
nav a {
  text-decoration: none;
  color: white;
}
nav a:hover,
nav a:active,
nav a:focus {
  text-decoration: underline;
}

h1 {
  padding: 10px;
  color: #353333;
  text-decoration: underline;
}
p {
  padding: 10px;
}
/** Styling for questions and answers **/
.question_and_answers {
}
.question_and_answers li {
  list-style: none;
  padding: 5px;
}
.question {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #353333;
  padding-top: 5px;
  color: #fff;
  margin: 10px 10px 0 10px;
}
.answer {
  background-color: #aaa;
  margin: 0 10px 0 10px;
}
