body {
  /** background-color: rgb(13,44,64);*//
  /** background-color: rgb(13,44,64);*//
  background-color: #000000;
  background-image: url("https://alan-jordan.github.io/images/debut-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: #555;
  font-family: 'Roboto', sans-serif;
}
.container {
  background-color: #F6EFE5;
}
.nav {
  padding: 10px 5px 10px 5px;
  margin: auto;
}
.nav li {
  display: inline;
  margin-left: 10px;
  padding: 0 10px 0 10px;
  color: #555;
}
.nav a {
  color: #555;
}
h1, h4 {
  margin-left: 25px;
}
.heading_pic {
  display: block;
  max-width: 95%;
  margin: 0 auto;
}
.boxout {
  background-color: #fff;
  box-shadow: 2px 2px 2px #888888;
  color: #555;
  padding: 5px 5px 5px 5px;
}
.boxout li {
    list-style-type: none;
}
.main {
  padding: 5px 25px 10px 0;
  border-bottom: 1px #fff solid;
}
.main p {
  margin-left: 25px;
}
.footer {
  color: #fff;
  background-color: #000;
}
.footer h5 {
  margin-left: 25px;
  padding: 10px 0 0 0;
}

.blog_link {
  max-width: 95%;
  display: block;
  margin: 0 auto;
}
.blog_gallery {
  margin: 15px 15px 15px 15px;
}
.blog_gallery p {
  margin-left: 5px;
}
